body {
   background-color: #fff6e0;
}

#wrapper {
   width: 816px;
   margin: 0 auto;
}

nav {
   height: 41px;
   margin: 0 0 60px 0;
   -moz-border-radius-topleft: 0px;
   -moz-border-radius-topright: 0px;
   -moz-border-radius-bottomright: 30px;
   -moz-border-radius-bottomleft: 30px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px; 
   -webkit-box-shadow: 0px 0px 20px #ffe4a3;
   -moz-box-shadow: 0px 0px 20px #ffe4a3;
   box-shadow: 0px 0px 20px #ffe4a3; 
   background-color: white;
   overflow: auto;
   border-bottom: 1px #ffda82 solid;
   border-left: 1px #ffda82 solid;
   border-right: 1px #ffda82 solid;
}

nav li {
   display: inline-block;
   text-align: center;
   width: 25%; 
   height: 41px;
   cursor: pointer;
   background-color: green;
   background: -moz-linear-gradient(top, #fff3d9 0%, #ffffff 100%);
   border-left: 2px solid #ffda82;
   box-sizing: border-box;     
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box;
}

nav li:first-child {
   border-left: 0px;
}

#content {
   border: 1px #ffda82 solid;
   font-family: 'PT Serif', serif;
   font-size: 40px;
   height: 364px;
   -moz-border-radius: 30px;
   border-radius: 30px; 
   -webkit-box-shadow: 0px 0px 20px #ffe4a3;
   -moz-box-shadow: 0px 0px 20px #ffe4a3;
   box-shadow: 0px 0px 20px #ffe4a3; 
   background-color: white;
}

footer {
   text-align: center;
   margin: 20px 0 0 0;
}
